@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F0F4F8;
}

h1, h2, h3 {
  color: #141c6c;
}

a {
  text-decoration: none;
  color: inherit;
}
